@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&display=swap');

:root{
    --dark-green: #00755E;
    --light-green: #00C9AB;
    --brown: #333;
    --pink: #F3D9CA;
    font-size: calc(0.5em + 0.5vw + 1vh);
}

body, html {
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

*,
::after,
::before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 80vw;
    height: 80vh;
    position: relative;
    display: flex;
}

.column__left {
    flex: 1 0 60%;
}

.column__right {
    flex: 1 0 40%;
    background-image: url("photo.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    box-shadow: 0px 2px 10px var(--brown);
}

.logo {
    width:20%;
    opacity: 0;
    animation: opacity 1s ease-in forwards;
}

.title {
    font-weight: bolder;
    opacity: 0;
    text-transform: uppercase;
    padding: 0% 25%;
    font-size: 2.3rem;
    letter-spacing: 0.1rem;
    color: var(--brown);
    line-height: 1;
    animation: toright  500ms cubic-bezier(.35,.49,.41,1.18) 0ms forwards;
}

.subtitle {
    opacity: 0;
    font-size: 0.8rem;
    padding: 5% 25%;
    font-weight: lighter;
    letter-spacing: 0.02rem;
    color: var(--brown);
    line-height: 1.2;
    animation: toright  500ms cubic-bezier(.35,.49,.41,1.18) 200ms forwards;
}

.input-box {
    height: 100%;
    padding: 0 25%;
    width: 100%;
    margin-top: 5%;
}

.input {
    opacity: 0;
    border: none;
    border-bottom: 2px solid var(--light-green);
    width: 100%;
    padding: 1% 1%;
    line-height: 1.4;
    font-size: 0.8rem;
    color: var(--brown);
    animation: toright  500ms cubic-bezier(.35,.49,.41,1.18) 400ms forwards;
}

.input:focus, textarea:focus {
    outline: none;
    background-color: #f2f2f2;
    transition: all 100ms ease-in-out;
}

button.submit {
    opacity: 0;
    width: 50%;
    margin: 2% 25%;
    padding: 0.7em;
    font-size: 0.8rem;
    border: none;
    color: white;
    background-color: var(--dark-green);
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 0.02rem;
    transition: 300ms ease-in-out;
    transition-property: outline, transform, background-color;
    animation: toright  500ms cubic-bezier(.35,.49,.41,1.18) 600ms forwards;
}

button.submit:hover {
    cursor: pointer;
    outline: 1px solid var(--light-green);
    outline-offset: 0.2em;
    background-color: var(--light-green);
    font-weight: normal;
    transform: scale(1.02);
    text-shadow: 1px 1px 1px var(--brown);
}

button.submit:active {
    transform: scale(0.95);
    background-color: var(--dark-green)
}

.socialmedia {
    margin: 0rem 25%;
    display: flex;
    width: 30%;
    margin-top: 8%;
    justify-content: space-between;
}

i {
    opacity: 0;
    font-size: 1rem;
    color: var(--brown);
    transition-property: transform, color;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    animation: toright  500ms cubic-bezier(.35,.49,.41,1.18) 800ms forwards;
}

i:hover {
    transform: scale(1.05);
    cursor: pointer;
    color: var(--light-green);
}

@keyframes toright {
    0%{
        transform: translate(-20%, 0px);
        opacity: 0;
    }
    100%{
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes opacity {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

h5 {
    visibility: hidden;
    color: red;
    font-size: 0.6rem;
    padding: 0% 25%;
    letter-spacing: 0.05em;
    transition: visibility 300ms ease-in;
}

@media (max-width: 800px), (max-height: 700px) {
    .wrapper {
        flex-direction: column;
        width: 100vw;
        max-height: fit-content;
    }

    body, html {
        overflow-y: auto;
    }

    .column__left {
        flex: 1 0 100%;
    }
    
    .column__right {
        flex: 1 0 100%;
    }

    .title, .subtitle, .input-box {
        width: 100%;
        padding: 5% 10%;
    }

    .logo {
        padding: 0% 10%;
        width: 60%;
    }

    .socialmedia, button.submit {
        width: 80%;
        margin: 5% 10% 10%;
    }

    .socialmedia {
        justify-content: space-around;
    }

    i {
        font-size: 2rem;
    }

    .column__right {
        max-height: 80%;
        max-width: 80%;
        margin: 10%;
        bottom: 5%;
    }
}